@import "tailwindcss";

:root {
    --background: #060112;
    --foreground: #F5F7FA;
    --accent: #A2F4FD;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #F5F7FA;
        --foreground: #060112;
        --accent: #1FB7C6;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-poppins);
}
